<p class="fields">
  <%= form.label :number, "Number" %>
  <%= form.text_field :number %>
  <%= form.hidden_field :_destroy %>
  <%= link_to "remove", "javascript:void(0)", onclick: 'remove_fields(this)' %>
</p>
